.mid {
  text-align: center;
}
.width {
  width: 70%;
  margin-left: 15%;
  display: flex;
  margin-top: 3%;
}
.img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 2%;
}
.left {
  width: 50%;
  float: right;
}
.right {
  float: right;
  width: 50%;
  text-align: right;
}
.color {
  color: #d1b561;
}
.box {
  width: 95%;
  margin-left: 7%;
  border-radius: 20px;
  background-color: rgba(45, 40, 40, 255);
  line-height: 25px;
  padding-top: 2px;
  text-align:left;
  padding-left: 15px;
  padding-bottom: 10px;
  line-height: 30px;
}
.blue {
  color: skyblue;
  font-size: 14px;
}
.blue:hover {
  text-decoration: underline;
}
.size {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  color: whitesmoke;
}
.size:hover {
  color: #d1b561;
}
.btn
{
    margin-left: 15%;
    height:60px;
    width:200px;
    padding:20px;
    border: 1px solid #d1b561;
    color:#d1b561;
    border-radius: 10px;
    background-color: rgba(0,0,0,255);
    font-size: 18px;
    margin-top:30px;
}
.background
{
  width:50%;
  background-color: rgba(0,0,0,255);
  color:whitesmoke;
  margin:auto;
  margin-top: 10%;
  padding: 20px;
  line-height: 30px;
}
@media (max-width: 900px) {
  .width {
    width: 70%;
    margin-left: 15%;
    display: unset;
  }
  .left {
    width: 80%;
    float: unset;
    margin-left: 15%;
  }
  .right {
    float: unset;
    width: 80%;
    margin-left: 10%;
  }
}
