.mid {
  text-align: center;
  padding: 20px;
  margin-top: -10px;
}
.color {
  color: #d1b561;
  width: 100px;
  height: 50px;
}
.flex {
  display: flex;
  margin-left: 22%;
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .flex {
    margin-left:40%;
    display:unset;
  }
  .mid {
    text-align:left;
    padding: 20px;
    margin-top: -10px;
    margin-left:40%;
  }
  .color {
    margin-left:40%;
  }
}
