.flex {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.div1 {
  margin-left: 15%;
  width: 30%;
  line-height: 30px;
}
.div2 {
  margin-right: 15%;
  width: 30%;
}
.img {
  padding: 2%;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  margin-left: 45%;
}
.top{
  margin-top: 50px;
}
@media (max-width: 900px) {
  .flex {
    display:unset;
    margin-top: 30px;
  }
  .div1 {
    width:80%;
    line-height: 30px;
    margin-top: 70px;
  }
  .div2 {
    width: 30%;
    margin-left:15%;
  }
  .img {
    padding: 2%;
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }
}
