.color
{
    color: #d1b561;
    text-align: right;
    margin-right: 50px;
}
.margin
{
    padding-bottom: 30px;
}
@media (max-width: 900px) {
   .color{
       text-align: center;
       margin-left: 10%;
   }
}