.color
{
    color: #d1b561;
    height: 50px;
    width:50px;
    margin-top: 30px;
    margin-left: 10px;
}
.fix{
  position:fixed;
  margin-left: 12px;
}
.color1
{
    color: #d1b561;
    height: 50px;
    width:50px;
    margin-top: 200px;
    margin-left: 10px;
}
.color3
{
    color: #d1b561;
    height: 50px;
    width:50px;
    margin-top: 30px;
}
@media (max-width: 900px) {
    .fix{
       margin-left: 0px;
    }
    .color{
        height: 35px;
        width:35px;
    }
    .color1{
        height: 35px;
        width:35px;
    }
}